@model Talento_TEC_MVC.Models.registro.empresa.DescripcionEmpresa

@{
    ViewBag.Title = "descripcionEmpresa";
}
<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 20%">
        Paso 1: Elección de cuenta
    </div>
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 20%">
        Paso 2: Información inicial
    </div>
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 20%">
        Paso 3: Descripción empresa
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 20%">
        Paso 4: Inicio de sesión
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 20%">
        Paso 5: Finalizar
    </div>
</div>

<h1>Registro de Empresa</h1>
<h3>Descripción de la empresa</h3>
<br />
<p>Ingrese o modifique los datos de referencia de su empresa para poder acceder a los servicios de Talento TEC.</p>

<p>Los campos con un asterisco (*) denotan que son campos obligatorios de ingresar.</p>
<li role="presentation" class="divider-line"></li>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="container">
                @Html.LabelFor(model => model.descripcionEmpresa)
                @Html.EditorFor(model => model.descripcionEmpresa, new { htmlAttributes = new { @class = "form-control", @rows="7", @placeholder ="Descripción de la empresa", @required = "required" } })
                @Html.ValidationMessageFor(model => model.descripcionEmpresa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sectores, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.DropDownListFor(model => model.sectores,
               Talento_TEC_MVC.Models.registro.empresa.DescripcionEmpresa.getSectoresValues(),
               new { htmlAttibutes = new { @class = "form-control" } })

                <!--  Html.EditorFor(model => model.pais, new { htmlAttributes = new { class = "form-control" } }) -->
                <!-- Html.ValidationMessageFor(model => model.pais, "", new { class = "text-danger" })-->
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Siguiente" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
