@model Talento_TEC_MVC.Models.registro.graduado.conocimientos_referencias

@{
    ViewBag.Title = "Conocimientos Referencias";
}

<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 12.5%">
        1: Elección de cuenta
    </div>
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 12.5%">
        2: Datos personales
    </div>
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 12.5%">
        3: Contacto
    </div>
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 12.5%">
        4: Educación formal
    </div>
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 12.5%">
        5: Idiomas
    </div>
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 12.5%">
        6: Experiencia laboral
    </div>
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 12.5%">
        7: Referencias
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 12.5%">
        8: Finalizar
    </div>
</div>

<h1>Registro de Graduado</h1>
<h3>Conocimientos y Referencias</h3>
<br />
<p>Los campos con un asterisco (*) denotan que son campos obligatorios de ingresar</p>

<li role="presentation" class="divider-line"></li>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.descripcionConocimientos, htmlAttributes: new { @class = "control-label col-xs-6 col-sm-4" })
            <div class="col-xs-6 col-sm-4">
                @Html.EditorFor(model => model.descripcionConocimientos, new { htmlAttributes = new { @class = "form-control", @rows = "8", @placeholder = "Ej: manejo de software, lenguajes de programación, herramientas tecnológicas, metodologías, entre otros" } })
                @Html.ValidationMessageFor(model => model.descripcionConocimientos, "", new { @class = "text-danger" })
            </div>
        </div>
        <li role="presentation" class="divider-line"></li>
        <h3>Referencias</h3>
        <p>
            Indique el nombre de personas (preferiblemente que no sean familiares y que hayan ocupado una posición donde
            supervisaron su trabajo) que puedan dar referencias suyas con el propósito de contactarlas y poder tener un mejor
            conocimeinto de su persona y habilidades.
        </p>
        <div class="form-group">
            @Html.LabelFor(model => model.nombreRef, htmlAttributes: new { @class = "control-label col-xs-6 col-sm-4" })
            <div class="col-xs-6 col-sm-4">
                @Html.EditorFor(model => model.nombreRef, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre y apellidos", @id = "nombre" } })
                @Html.ValidationMessageFor(model => model.nombreRef, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.puestoRef, htmlAttributes: new { @class = "control-label col-xs-6 col-sm-4" })
            <div class="col-xs-6 col-sm-4">
                @Html.EditorFor(model => model.puestoRef, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre del puesto", @id = "puesto" } })
                @Html.ValidationMessageFor(model => model.puestoRef, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.emailRef, htmlAttributes: new { @class = "control-label col-xs-6 col-sm-4" })
            <div class="col-xs-6 col-sm-4">
                @Html.EditorFor(model => model.emailRef, new { htmlAttributes = new { @class = "form-control", @placeholder = "email@email.com", @id = "email" } })
                @Html.ValidationMessageFor(model => model.emailRef, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telRef, htmlAttributes: new { @class = "control-label col-xs-6 col-sm-4" })
            <div class="col-xs-6 col-sm-4">
                @Html.EditorFor(model => model.telRef, new { htmlAttributes = new { @class = "form-control", @placeholder = "Número de teléfono sin guiones ni paréntesis", @id = "tel" } })
                @Html.ValidationMessageFor(model => model.telRef, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-xs-6 col-sm-4">
                <input type="button" value="agregar" onclick="addReference()" class="btn btn-default" />
                <!--<button onclick="addTitle()">Agregar</button>-->
            </div>
        </div>
        <li role="presentation" class="divider-line"></li>

        <center><h3>Referencias</h3></center>

        <div class="table-responsive">
            <table class="table" id="referenceTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Puesto</th>
                        <th>Correo electrónico</th>
                        <th>Teléfono</th>
                        <th>Accion</th>
                    </tr>
                </thead>
            </table>
        </div>


        <div class="form-group">
            <div class="col-md-offset-5 col-xs-6 col-sm-4">
                <input type="submit" value="Siguiente" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script>
    var i = 1;
    function addReference() {
        if ($('#nombre').val() != "") {


            $("#referenceTable").append("<tbody><tr>" + "<td>" + i + "</td>" +
                                    "<td>" + $('#nombre').val() + "</td>" +
                                    "<td>" + $('#puesto').val() + "</td>" +
                                    "<td>" + $('#email').val() + "</td>" +
                                    "<td>" + $('#tel').val() + "</td>" +
                                    "<td>" + "eliminar" + "</td>" +
                                    "</tr></tbody>");

            i++;
            $('#nombre').val("");
            $('#puesto').val("");
            $('#email').val("");
            $('#tel').val("");
        }

    }

</script>
