@model Talento_TEC_MVC.Models.registro.graduado.experiencia_laboral

@{
    ViewBag.Title = "Experiencia Laboral";
}

<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 12.5%">
        1: Elección de cuenta
    </div>
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 12.5%">
        2: Datos personales
    </div>
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 12.5%">
        3: Contacto
    </div>
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 12.5%">
        4: Educación formal
    </div>
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 12.5%">
        5: Idiomas
    </div>
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 12.5%">
        6: Experiencia laboral
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 12.5%">
        7: Referencias
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 12.5%">
        8: Finalizar
    </div>
</div>

<h1>Registro de Graduado</h1>
<h3>Experiencia Laboral</h3>
<br />
<p>Ingrese sus datos personales para poder acceder a los servicios de Talento TEC</p>
<p>Los campos con un asterisco (*) denotan que son campos obligatorios de ingresar</p>

<li role="presentation" class="divider-line"></li>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.empresa, htmlAttributes: new { @class = "control-label col-xs-6 col-sm-4" })
            <div class="col-xs-6 col-sm-4">
                @Html.EditorFor(model => model.empresa, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre de la empresa",@id="nombreEmpresa" } })
                @Html.ValidationMessageFor(model => model.empresa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.paisEmpresa, htmlAttributes: new { @class = "control-label col-xs-6 col-sm-4" })

            @Html.EditorFor(model => model.paisEmpresa, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
            @Html.ValidationMessageFor(model => model.paisEmpresa, "", new { @class = "text-danger" })
            <div class="col-xs-8 col-sm-8">
                <div class="paisEmpresaDiv">
                    <select id="paisEmpresaSelect" class="col-md-5" onclick="">
                        <option value="COSTA_RICA" default selected>Costa Rica</option>

                    </select>
                </div>
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.annoInicio, htmlAttributes: new { @class = "control-label col-xs-6 col-sm-4" })

            @Html.EditorFor(model => model.annoInicio, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
            @Html.ValidationMessageFor(model => model.annoInicio, "", new { @class = "text-danger" })
            <div class="col-xs-6 col-sm-4">
                <div class="annoInicioDiv">
                    <select id="annoInicioSelect" class="col-md-5" onclick="">
                        <option value="anno" default selected>-- año --</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.annoFin, htmlAttributes: new { @class = "control-label col-xs-6 col-sm-4" })

            @Html.EditorFor(model => model.annoFin, new { htmlAttributes = new { @class = "form-control",@id="annofin", @type = "hidden" } })
            @Html.ValidationMessageFor(model => model.annoFin, "", new { @class = "text-danger" })
            <div class="col-xs-6 col-sm-4">
                <div class="annoFinDiv">
                    <select id="annoFinSelect" class="col-md-5" onclick="">
                        <option value="anno" default selected>-- año --</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cargo, htmlAttributes: new { @class = "control-label col-xs-6 col-sm-4" })
            <div class="col-xs-6 col-sm-4">
                @Html.EditorFor(model => model.cargo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre del cargo", @id="cargoAsign" } })
                @Html.ValidationMessageFor(model => model.cargo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-5 col-xs-6 col-sm-4">
                <input type="button" value="agregar" onclick="addExperience()" class="btn btn-default" />
                <!--<button onclick="addTitle()">Agregar</button>-->
            </div>
        </div>
        <li role="presentation" class="divider-line"></li>

        <center><h3>Experiencia Laboral</h3></center>

        <div class="table-responsive">
            <table class="table" id="experienceTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Empresa</th>
                        <th>Cargo</th>
                        <th>País</th>
                        <th>Año inicio</th>
                        <th>Año fin</th>
                        <th>Acción</th>
                    </tr>
                </thead>
            </table>
        </div>

        <br />

        <li role="presentation" class="divider-line"></li>

        <h3>Cursos de capacitación</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.nombreActividad, htmlAttributes: new { @class = "control-label col-xs-6 col-sm-4" })
            <div class="col-xs-6 col-sm-4">
                @Html.EditorFor(model => model.nombreActividad, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre de la actividad", @id="nombreActividad" } })
                @Html.ValidationMessageFor(model => model.nombreActividad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.institucion, htmlAttributes: new { @class = "control-label col-xs-6 col-sm-4" })
            <div class="col-xs-6 col-sm-4">
                @Html.EditorFor(model => model.institucion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre de la institución", @id="nombreInstitucion" } })
                @Html.ValidationMessageFor(model => model.institucion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.paisCurso, htmlAttributes: new { @class = "control-label col-xs-6 col-sm-4" })

            @Html.EditorFor(model => model.paisCurso, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
            @Html.ValidationMessageFor(model => model.paisCurso, "", new { @class = "text-danger" })
            <div class="col-xs-8 col-sm-8">
                <div class="paisCursoDiv">
                    <select id="paisCursoSelect" class="col-md-5" onclick="">
                        <option value="COSTA_RICA" default selected>Costa Rica</option>

                    </select>
                </div>
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.annoCurso, htmlAttributes: new { @class = "control-label col-xs-6 col-sm-4" })

            @Html.EditorFor(model => model.annoCurso, new { htmlAttributes = new { @class = "form-control",@id="annocurso", @type = "hidden" } })
            @Html.ValidationMessageFor(model => model.annoCurso, "", new { @class = "text-danger" })
            <div class="col-xs-6 col-sm-4">
                <div class="annoCursoDiv">
                    <select id="annoCursoSelect" class="col-md-5" onclick="">
                        <option value="anno" default selected>-- año --</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-5 col-xs-6 col-sm-4">
                <input type="button" value="agregar" onclick="addCourse()" class="btn btn-default" />
                <!--<button onclick="addTitle()">Agregar</button>-->
            </div>
        </div>
        <li role="presentation" class="divider-line"></li>

        <center><h3>Cursos</h3></center>

        <div class="table-responsive">
            <table class="table" id="courseTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Actividad</th>
                        <th>Institución</th>
                        <th>País</th>
                        <th>Año</th>
                        <th>Acción</th>
                    </tr>
                </thead>
            </table>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-5 col-xs-6 col-sm-4">
                <input type="submit" value="Siguiente" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script>
    var date = new Date();
    var n = date.getFullYear();
    for (i = 1960; i <= n; i++) {
        var option = document.getElementById("annoInicioSelect");
        option.appendChild(new Option(i.toString(), i.toString()));
        var option = document.getElementById("annoFinSelect");
        option.appendChild(new Option(i.toString(), i.toString()));
        var option = document.getElementById("annoCursoSelect");
        option.appendChild(new Option(i.toString(), i.toString()));
        //console.log(i);
    }

    $(document).ready(function () {
        $.ajax({
            url: "https://talentotec-api.azurewebsites.net/api/Countries",
            type: "GET",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    //<option value="PAIS_PAIS">pais pais</option>
                    var raw_data = data[i].split("_");
                    var formated_data = " ";
                    for (var j = 0; j < raw_data.length; j++) {
                        formated_data += raw_data[j] + " ";
                    }

                    $("#paisEmpresaSelect").append("<option value='" + data[i] + "'>" +
                        formated_data.toLowerCase().replace(/^[\u00C0-\u1FFF\u2C00-\uD7FF\w]|\s[\u00C0-\u1FFF\u2C00-\uD7FF\w]/g, function (letter) {
                            return letter.toUpperCase();
                        })
                        + "</option>");

                    $("#paisCursoSelect").append("<option value='" + data[i] + "'>" +
                        formated_data.toLowerCase().replace(/^[\u00C0-\u1FFF\u2C00-\uD7FF\w]|\s[\u00C0-\u1FFF\u2C00-\uD7FF\w]/g, function (letter) {
                            return letter.toUpperCase();
                        })
                        + "</option>");
                }
            },
            error: function (e1, e2, e3) {
                console.log(e3 + " " + e2);
            }
        });
    });

    var i = 1;
    var listaExperience = [];
    function addExperience() {
        $("#experienceTable").append("<tbody><tr>" + "<td>" + i + "</td>" +
                                        "<td>" + $('#nombreEmpresa').val() + "</td>" +
                                        "<td>" + $('#cargoAsign').val() + "</td>" +
                                        "<td>" + $('.paisEmpresaDiv option:selected').text() + "</td>" +
                                        "<td>" + $('.annoInicioDiv option:selected').text() + "</td>" +
                                        "<td>" + $('.annoFinDiv option:selected').text() + "</td>" +
                                        "<td>" + "eliminar" + "</td>" +
                                        "</tr></tbody>");

        var experience = {
            id: i,
            empresa: $('#nombreEmpresa').val(),
            cargo: $('#cargoAsign').val(),
            pais: $('.paisEmpresaDiv option:selected').val(),
            annoInicio: $('.annoInicioDiv option:selected').val(),
            annoFin: $('.annoFinDiv option:selected').val()
        };

        listaExperience.push(experience);
        $("#annofin").val(JSON.stringify(listaExperience));

        i++;
        $('#nombreEmpresa').val("");
        $('#cargoAsign').val("");
    }

    var j = 1;
    listaCursos = [];
    function addCourse() {
        $("#courseTable").append("<tbody><tr>" + "<td>" + j + "</td>" +
                                        "<td>" + $('#nombreActividad').val() + "</td>" +
                                        "<td>" + $('#nombreInstitucion').val() + "</td>" +
                                        "<td>" + $('.paisCursoDiv option:selected').text() + "</td>" +
                                        "<td>" + $('.annoCursoDiv option:selected').text() + "</td>" +
                                        "<td>" + "eliminar" + "</td>" +
                                        "</tr></tbody>");

        var course = {
            id: j,
            nombreActividad: $('#nombreActividad').val(),
            institucion: $('#nombreInstitucion').val(),
            pais: $('.paisCursoDiv option:selected').val(),
            anno: $('.annoCursoDiv option:selected').val(),
        }

        listaCursos.push(course);

        $("#annocurso").val(JSON.stringif(listaCursos));

        j++;
        $('#nombreActividad').val("");
        $('#nombreInstitucion').val("");

    }

</script>
