@using Microsoft.AspNet.Identity
@using Talento_TEC_MVC.Models;
@using Talento_TEC_MVC.Controllers;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">¿Tiene una cuenta?</p></li>
        <li >@Html.ActionLink("Login", "Login", "Account")</li>
            <!-- ----------------------------------------------------------------------------- -->

            <!-- ----------------------------------------------------------------------------- -->
        <!-- <li><a href="#">Login</a></li>

            Aca debe ir el menu donde no se inicia sesion sino se tienen las herramientas

            -->
    </ul>
    <!--
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
    -->
}
