@model Talento_TEC_MVC.Models.empresa.NuevaOferta

@{
    ViewBag.Title = "agregar_oferta";
}

<h1>Agregar nueva oferta</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h4>Información de la oferta laboral</h4>
        <p>Ingrese o modifique los datos de la oferta laboral que desea agregar</p>
        <p>Los campos con un asterisco (*) denotan que son campos obligatorios de ingresar.</p>
        <li role="presentation" class="divider-line"></li>
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nombreEmpresa, htmlAttributes: new { @class = "control-label col-xs-6 col-md-4" })
            <div class="col-xs-6 col-md-4">
                @Html.EditorFor(model => model.nombreEmpresa, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.nombreEmpresa, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.confidencial, htmlAttributes: new { @class = "control-label col-md-1 " })
            <div class="checkbox col-md-1 col-md-offset-1">
                @Html.EditorFor(model => model.confidencial)
                @Html.ValidationMessageFor(model => model.confidencial, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombrePuesto, htmlAttributes: new { @class = "control-label col-xs-6 col-md-4" })
            <div class="col-xs-6 col-md-4">
                @Html.EditorFor(model => model.nombrePuesto, new { htmlAttributes = new { @class = "form-control", @placeholder="Puesto a publicar", @required="required" } })
                @Html.ValidationMessageFor(model => model.nombrePuesto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcionPuesto, htmlAttributes: new { @class = "control-label col-xs-6 col-md-4" })
            <div class="col-xs-6 col-md-4">
                @Html.EditorFor(model => model.descripcionPuesto, new { htmlAttributes = new { @class = "form-control", @rows="7", @placeholder="Descripción del puesto a publicar", @required="required" } })
                @Html.ValidationMessageFor(model => model.descripcionPuesto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.requisitosPuesto, htmlAttributes: new { @class = "control-label col-xs-6 col-md-4" })
            <div class="col-xs-6 col-md-4">
                @Html.EditorFor(model => model.requisitosPuesto, new { htmlAttributes = new { @class = "form-control", @rows="7", @placeholder="Requerimientos del puesto a plublicar", @required="required"  } })
                @Html.ValidationMessageFor(model => model.requisitosPuesto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.montoMensual, htmlAttributes: new { @class = "control-label col-xs-6 col-md-4" })
            <div class="col-xs-6 col-md-4">
                @Html.EditorFor(model => model.montoMensual, new { htmlAttributes = new { @class = "form-control", @placeholder="0000.00", @required = "required" } })
                @Html.ValidationMessageFor(model => model.montoMensual, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.pagoColones, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.pagoColones)
                    @Html.ValidationMessageFor(model => model.pagoColones, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.LabelFor(model => model.pagoDolares, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.pagoDolares)
                    @Html.ValidationMessageFor(model => model.pagoDolares, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.nombreContacto, htmlAttributes: new { @class = "control-label col-xs-6 col-md-4" })
            <div class="col-xs-6 col-md-4">
                @Html.EditorFor(model => model.nombreContacto, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre completo", @required="required" } })
                @Html.ValidationMessageFor(model => model.nombreContacto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.emailContacto, htmlAttributes: new { @class = "control-label col-xs-6 col-md-4" })
            <div class="col-xs-6 col-md-4">
                @Html.EditorFor(model => model.emailContacto, new { htmlAttributes = new { @class = "form-control", @placeholder="email@email.com", @required="required"} })
                @Html.ValidationMessageFor(model => model.emailContacto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telContacto, htmlAttributes: new { @class = "control-label col-xs-6 col-md-4" })
            <div class="col-xs-6 col-md-4">
                @Html.EditorFor(model => model.telContacto, new { htmlAttributes = new { @class = "form-control", @placeholder= "Digite el número de teléfono sin guiones ni paréntesis", @required = "required" } })
                @Html.ValidationMessageFor(model => model.telContacto, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar Oferta" class="btn btn-primary col-xs-6 col-sm-3 col-sm-offset-3" />
            </div>
        </div>
    </div>
}
